*.o
*.bin
*.elf
z.*
*.d
*.map
*.hex
config.mk
*.__i

JLinkLog.txt
bin/cflie.build_log.htm
bin/cflie.lnp
bin/cflie.plg
bin/crazypony.build_log.htm
bin/crazypony.plg
bin/startup_stm32f10x_md._ia
crazypony.plg
crazypony.uvgui.*
crazypony.uvgui_*.bak
crazypony_cflie.dep
crazypony.uvproj.tmp
*.bak

config.mk

bin/*
cscope.*
tags

